<h1 class="h1 text-center my-24 text-7x1">Bienvenido <b>{{nombre}}</b></h1>

<div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg
 shadow-lg text-gray-800">
        
        <h3 align="center" class="text-2x1 font-bold">Funciones de administrador</h3>

        <br>

        <center><ul class="dropdown-menu">
        <li><a class="rounded-md bg-blue-500 w-full text-lg text-white 
        font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700" href="/pers">Cuentas</a></ul></li></center>
        
        <br>
        
        <center><ul class="dropdown-menu">
        <li><a class="rounded-md bg-blue-500 w-full text-lg text-white 
        font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700" href="/menu">Menu</a></li></ul></center>
        
</div>
            